[submodule "tools/sconsProject"]
	path = tools/sconsProject
	url = https://github.com/tuttleofx/sconsProject.git
[submodule "3rdParty/rapidxml"]
	path = 3rdParty/rapidxml
	url = https://github.com/valnoel/rapidxml.git
