html
{
	min-height: 100%;
	font-family: Arial, Verdana, sans-serif;
	overflow-y: scroll;
}

html::-webkit-scrollbar
{
	width: 12px; (vertical scrollbar)
	background-color: #111;
}

html::-webkit-scrollbar-track /*scrollbar background color*/
{
	background-color: #111;
}

html::-webkit-scrollbar-thumb /*elevator*/
{
	background: #282828;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .7);
	   -moz-box-shadow: inset 1px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .7);
	        box-shadow: inset 1px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .7);
}

html::-webkit-scrollbar-thumb:hover
{
	background: #333;
}

body
{
	margin: 0px;
	background: #222;
}


/***************
**** HEADER ****
***************/
#header
{
	-webkit-box-shadow: inset -1px 0px 10px 0px rgba(0,0,0, .7), 0px 1px 10px 0px rgba(0,0,0, .7);
	   -moz-box-shadow: inset -1px 0px 10px 0px rgba(0,0,0, .7), 0px 1px 10px 0px rgba(0,0,0, .7);
	        box-shadow: inset -1px 0px 10px 0px rgba(0,0,0, .7), 0px 1px 10px 0px rgba(0,0,0, .7);

	background: #ae0007;
	background:    -moz-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background: -webkit-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background:      -o-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background:     -ms-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background:         linear-gradient( to bottom,  #ae0007 0%, #6e0007 100% );
	background:        -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #ae0007 ), color-stop( 100%, #6e0007 ) );
}

#header-content
{
	position: relative;
	width: 900px;
	margin-left:  auto;
	margin-right: auto;
}

#logo-qc
{
	position: absolute;
	height: 80px;
	left: 80px;
	cursor: pointer;
}

#title
{
	position: relative;
	height: 80px;
	padding-top:    50px;
	padding-bottom: 50px;
}

#title-text
{
	display: block;
	float: left;
	padding-left: 230px;
	color: #000;
	font-size: 50pt;
	text-decoration: none;
	font-weight: bold;
}

#title-text:before, #title-text:after
{
	padding-top:   50px;
	padding-left: 230px;
	content: attr(title);
	color: rgba(255,255,255,.1);
	position: absolute;
}

#title-text:before { top: 1px; left: 1px }
#title-text:after  { top: 2px; left: 2px }

#logo-mikros
{
	position: absolute;
	top:   1%;
	right: 1%;
}

#input-section
{
	position: relative;
	width: 90%;
	margin: auto;
	font-size: 12pt;
}

input
{
	position: relative;
	width: 80%;
}

ul
{
	-webkit-padding-start: 20px;
}


#inputFile
{
	width: 100%;
	border: none;
	margin-left: -6px;
	padding: 6px;
	height: auto;
}

#inputMail
{
	border: none;
	margin-left: -6px;
	padding: 6px;
}

#button
{
	position: relative;
	display: block;
	height: 280px;
	width: 280px;
	margin: 20px auto 20px auto;

	-webkit-border-radius: 140px;
	   -moz-border-radius: 140px;
	        border-radius: 140px;

	background: #2d2d2d;
	background:    -moz-radial-gradient( center, ellipse cover,  #2d2d2d 0%, #0e0e0e 100%);
	background: -webkit-radial-gradient( center, ellipse cover,  #2d2d2d 0%, #0e0e0e 100%);
	background:      -o-radial-gradient( center, ellipse cover,  #2d2d2d 0%, #0e0e0e 100%);
	background:     -ms-radial-gradient( center, ellipse cover,  #2d2d2d 0%, #0e0e0e 100%);
	background:         radial-gradient( ellipse at center,      #2d2d2d 0%, #0e0e0e 100%);
	background:        -webkit-gradient( radial, center center, 0px, center center, 100%, color-stop(0%,#2d2d2d), color-stop(100%,#0e0e0e) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#0e0e0e',GradientType=1 );

	-webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0, 1), 0 0px 4px rgba(0, 0, 0, .7);
	   -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0, 1), 0 0px 4px rgba(0, 0, 0, .7);
	        box-shadow: inset 0px 0px 10px rgba(0,0,0, 1), 0 0px px rgba(0, 0, 0, .7);

}

#inputCheck
{ 
	/*display: none;*/
	height: 200px;
	width: 200px;
	margin: 40px;
	border:0px;
	
	color: #111;
	font-size: 48pt;
	font-weight: bold;

	background: #ae0007;
	background:    -moz-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background: -webkit-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background:      -o-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background:     -ms-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background:         linear-gradient( to bottom,  #ae0007 0%, #6e0007 100% );
	background:        -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #ae0007 ), color-stop( 100%, #6e0007 ) );
	
	-webkit-border-radius: 100px;
	   -moz-border-radius: 100px;
	        border-radius: 100px;

	-webkit-box-shadow: inset 0 2px 6px rgba(255, 255, 255, .3), 0 6px 14px rgba(0, 0, 0, .7);
	   -moz-box-shadow: inset 0 2px 6px rgba(255, 255, 255, .3), 0 6px 14px rgba(0, 0, 0, .7);
	        box-shadow: inset 0 2px 6px rgba(255, 255, 255, .3), 0 6px 14px rgba(0, 0, 0, .7);
}

#inputCheck:hover
{ 
	cursor: pointer;
	-webkit-box-shadow: inset 0 2px 6px rgba(255, 255, 255, .5), 0 10px 20px rgba(0, 0, 0, .7);
	   -moz-box-shadow: inset 0 2px 6px rgba(255, 255, 255, .5), 0 10px 20px rgba(0, 0, 0, .7);
	        box-shadow: inset 0 2px 6px rgba(255, 255, 255, .5), 0 10px 20px rgba(0, 0, 0, .7);
}

#inputCheck:active
{ 
	-webkit-box-shadow: inset 0 2px 6px rgba(255, 255, 255, .5), 0 2px 10px rgba(0, 0, 0, .7);
	   -moz-box-shadow: inset 0 2px 6px rgba(255, 255, 255, .5), 0 2px 10px rgba(0, 0, 0, .7);
	        box-shadow: inset 0 2px 6px rgba(255, 255, 255, .5), 0 2px 10px rgba(0, 0, 0, .7);
}

#options
{
	width: 100%;
	text-align: left;
	color: #fff;
	font-size:   12px;
}

#options-title,
.option-label
{
	position: relative;
	height:      16px;
	z-index:     20;
	line-height: 16px;
	background: #333;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 6px 0px rgba(0,0,0, .7);
	   -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 6px 0px rgba(0,0,0, .7);
	        box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 6px 0px rgba(0,0,0, .7);
}

#options-title
{
	display: block;
	padding: 2px 20px;
	margin-top: 10px;
}

#options ul
{
	padding-right: 20px;
}

#options li
{
	display: inline;
	list-style: none; /* pour enlever les puces sur IE7 */
	margin: 0px 10px 0px 10px;
	width: 30%;
}

#options li article div
{
	margin: 6px 0px 6px 0px;
}

#options li input
{
	cursor: pointer;
	height: 12px;
	/*display: inline;*/
	width: 12px;
}

#options li input:disabled
{
	cursor:  default;
}


#options .option-label
{
	padding: 2px 0px 2px 0px;
	width: 100%;
	text-align: center;
}

#options li article
{
	width: 100%;
	margin: 10px;
}

#options li li
{
	display: inline;
	list-style: none; /* pour enlever les puces sur IE7 */
	margin: 10px;
	width: 100%;
}

#options li label
{
	cursor: pointer;
	margin-right: 10px;
}

#options li #inputMail
{
	width: 50%;
	margin-right: 20px;
}


#input-section .accordion label:hover:after,
#input-section .accordion input:checked + label:hover:after,
#input-section .accordion input:checked + label:hover:after
{
	top: 1px;
	background-size: 50%;
}


/*** AUTOCOMPLETE STYLE ***/
.ui-autocomplete
{
	position: absolute;
	height: 20%;
	overflow-y: auto;
	overflow-x: auto;
	top:  0;
	left: 0;
	cursor: default;
}

.ui-front {	z-index: 100; }

.ui-menu
{
	display: block;
	min-height:  0; /* support: IE7 */
	padding:     2px;
	margin:      2px;
	font-weight: normal;
	line-height: 1.5;
	list-style:      none;
	text-decoration: none;
	outline:         none;
}

.ui-widget
{
	font-family: Arial,sans-serif;
	font-size: 10pt;
}

.ui-widget-content { color: #222222; }

.ui-corner-all
{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius:  4px;
	border-top-right-radius:    4px;
	border-top-left-radius:     4px;
}

/***************
***** MAIN *****
***************/

#main
{
	position: relative;
	width: 900px;
	margin:  20px auto 20px auto;
	color: #ddd;
}

#main-header
{
	display: block;
	height:  40px;
}

#date
{
	display: block;
	float: left;
	padding: 6px 20px;
	width:  300px;
	color: #aaa;
	font-size:  10pt;
	text-align: left;
}

#download-button
{
	display: block;
	float: right;
	width:  200px;
	padding: 6px 20px;
	text-align: center;

	border-radius: 10px;

	background: #ae0007;
	background:    -moz-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background: -webkit-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background:      -o-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background:     -ms-linear-gradient( top,        #ae0007 0%, #6e0007 100% );
	background:         linear-gradient( to bottom,  #ae0007 0%, #6e0007 100% );
	background:        -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #ae0007 ), color-stop( 100%, #6e0007 ) );

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 10px 0px rgba(0,0,0, .7);
	   -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 10px 0px rgba(0,0,0, .7);
	        box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 10px 0px rgba(0,0,0, .7);
}

#download-button:hover
{
	background: #6e0007;
	background:    -moz-linear-gradient( top,        #6e0007 0%, #ae0007 100% );
	background: -webkit-linear-gradient( top,        #6e0007 0%, #ae0007 100% );
	background:      -o-linear-gradient( top,        #6e0007 0%, #ae0007 100% );
	background:     -ms-linear-gradient( top,        #6e0007 0%, #ae0007 100% );
	background:         linear-gradient( to bottom,  #6e0007 0%, #ae0007 100% );
	background:        -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #6e0007 ), color-stop( 100%, #ae0007 ) );
}

#download-button:active
{
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .7);
	   -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .7);
	        box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .7);
}

#download-button a
{
	color: #ccc;
	font-size:  10pt;
	text-decoration: none;
	font-weight: bold;
}

/*table
{
	border-spacing: 0px;
}
*/
.section
{
	margin: 10px auto 20px auto;
	max-width: 80%;
}

.systemInfo-table,
.status-table,
.metadata-table,
.loudness-table
{
	margin-top: 10px;
	margin-bottom: 20px;
}

.section th
{
	height: 20px;
	padding: 5px;
	border-bottom: 1px solid white;
}

.systemInfo-column_1 { width: 120px; vertical-align: top; }
.permissions-column_1 { vertical-align: top; }
.permissions-column_2 table { border-spacing: 0px; }

.status-column_1 { width: 200px; }
.status-column_2 { text-align: right; }

.metadata-column_1 { width: 200px; }
.metadata-column_2 { text-align: right; }

.loudness-column_1 { width: 200px; }
.loudness-column_2 { text-align: right; }

caption
{
	padding-bottom: 10px;
	font-size: 12pt;
	font-weight: bold;
	text-align:  left;
}

h1, h2, h3, h4, h5 { padding-left: 40px; }


/*** ACCORDION STYLE ***/
.accordion
{
	width: 100%;
	text-align: left;
	font-size : 10pt;
}

.accordion label
{
	display: block;
	position: relative;
	height:      23px;
	padding: 6px 20px;
	margin-top: 10px;
	z-index:     20;

	line-height: 23px;
	font-weight: bold;
	
	background: #333;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 10px 0px rgba(0,0,0, .7);
	   -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 10px 0px rgba(0,0,0, .7);
	        box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 10px 0px rgba(0,0,0, .7);
}


#container .accordion label
{
	height:      30px;
	padding: 5px 20px;
	font-size:   19px;
	line-height: 33px;
}

.accordion label:hover
{
	cursor: pointer;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 2px 0px rgba(0,0,0, .7);
	   -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 2px 0px rgba(0,0,0, .7);
	        box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 2px 0px rgba(0,0,0, .7);
}

.accordion input:checked + label
{
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 2px 0px rgba(0,0,0, .7);
	   -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 2px 0px rgba(0,0,0, .7);
	        box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 2px 0px rgba(0,0,0, .7);
}

.accordion input:checked + label:hover
{
	cursor: pointer;

	-webkit-box-shadow: inset 0px 1px 4px 0px rgba(0,0,0, .7), 0px -1px 0px 0px rgba(0,0,0, .7);
	   -moz-box-shadow: inset 0px 1px 4px 0px rgba(0,0,0, .7), 0px -1px 0px 0px rgba(0,0,0, .7);
	        box-shadow: inset 0px 1px 4px 0px rgba(0,0,0, .7), 0px -1px 0px 0px rgba(0,0,0, .7);
}

.accordion label:hover:after,
.accordion input:checked + label:hover:after
{
	cursor: pointer;
	position: absolute;
	width:  12px;
	height: 10px;
	right:  13px;
	top:    12px;
	content:  '';
	background: transparent url( arrow_down.png ) no-repeat center center;
}
.accordion input:checked + label:hover:after
{
	background-image: url( arrow_up.png );
}

.accordion input
{
	display: none;
}


.accordion article
{
	position: relative;
	width: 100%;
	height: 0px;
	z-index: 10;
	margin-top: -1px;
	overflow: hidden;
	-webkit-transition: min-height 1s ease-in-out;
	   -moz-transition: min-height 1s ease-in-out;
	     -o-transition: min-height 1s ease-in-out;
	    -ms-transition: min-height 1s ease-in-out;
	        transition: min-height 1s ease-in-out;

	-webkit-box-shadow: inset 0px 1px 4px 0px rgba(0,0,0, .7), 0px 1px 0px 0px rgba(255,255,255, .1);
	   -moz-box-shadow: inset 0px 1px 4px 0px rgba(0,0,0, .7), 0px 1px 0px 0px rgba(255,255,255, .1);
	        box-shadow: inset 0px 1px 4px 0px rgba(0,0,0, .7), 0px 1px 0px 0px rgba(255,255,255, .1);

	background: #1e1e1e;
}

.accordion input:checked ~ article
{
	-webkit-transition: max-height 0.5s ease-in-out;
	   -moz-transition: max-height 0.5s ease-in-out;
	     -o-transition: max-height 0.5s ease-in-out;
	    -ms-transition: max-height 0.5s ease-in-out;
	        transition: max-height 0.5s ease-in-out;
}

.accordion input:checked ~ article
{
	height: auto;
	max-height: 10000px;
}

/* scrollbar*/

.accordion article::-webkit-scrollbar
{
	height: 10px;
	background-color: #222;
}

.accordion article::-webkit-scrollbar-track /*scrollbar background color*/
{
	background-color: #222;
}

.accordion article::-webkit-scrollbar-thumb /*elevator*/
{
	background-color: #151515;
}

.accordion article::-webkit-scrollbar-thumb:hover
{
	background-color: #111;
}

.accordion input:checked ~ article
{
	-webkit-transition: max-height 0.5s ease-in-out;
	   -moz-transition: max-height 0.5s ease-in-out;
	     -o-transition: max-height 0.5s ease-in-out;
	    -ms-transition: max-height 0.5s ease-in-out;
	        transition: max-height 0.5s ease-in-out;
}

/*** CHARTS STYLE ***/
.chart_div
{
	position: relative;
	width:   90%;
	height: 600px;
	margin-top:    20px;
	margin-bottom: 60px;
	margin-left:   auto;
	margin-right:  auto;
	border: 3px solid #333333;
}

